.btn{
  border: none;
  padding: 11px 22px;
  display: inline-flex;
  gap: 12px;
  border-radius: 28px;

  &-alert{
    .bg(@error);
    color: @white;
    border: 1px solid @error
  }

  &-primary{
    .bg(@primary);
    color: @white;
    border: 1px solid @primary
  }

  &-outline{
    .bg(@white);
    color: #637C8E;
    border: 1px solid #637C8E;
  }

  & .rotate{
    transform: rotateZ(90deg);
  }
  & .rec{
    width: 20px;
    height: 20px;
    .bg(@white);
    border-radius: 50%;
    color: #000000;
    font-size: 8px;

  }
}